<nav class="navbar navbar-expand-lg " style="background-color: #a49ce9;">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:4200/home"><i class="bi bi-house-gear-fill"></i>Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:4200/about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:4200/departments">Departments</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:4200/doctors">Doctors</a>
          </li>

           <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:4200/addAppointment">Appointment List</a>
          </li>  -->
          

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:4200/services">Services</a>
          </li>

          

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:4200/add">Patient</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/list">Patient List</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link active" href="http://localhost:4200/contact">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="http://localhost:4200/pharmacy">Pharmacy</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="http://localhost:4200/admin">Admin</a>
          </li>

         

        </ul>

        
      <form >
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          
          >
          <button class="btn btn-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg></button>  -->
        
          @if (!isUserLoggedIn) {
          <div class="d-inline p-2">
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Registration
            </button> 
        </div>
        <!-- <div class="d-inline p-2">
          <a href="login/patients">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"
            data-bs-whatever="@mdo">Login</button>
            </a>
          </div> -->
        } @else {
          <h5>
            User: <i>{{loggedinUserName}}</i>
            (<a (click)="logoutBtn()" style="cursor: pointer;font-size: 16px; color: rgb(27, 21, 43);">Logout</a>)
          </h5>
          
        } 

        
      </form>


    </div>
  </div>
</nav>
